@model ProjetoHotel.Domain.Entities.Hotel

@{
    ViewData["Title"] = "Cadastrar Hotel";
}

<h4>Cadastrar Hotel</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Imagens" class="control-label">Imagem</label>
                <input type="file" asp-for="Imagens" class="form-control" />
                <span asp-validation-for="Imagens" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input type="submit" value="Cadastrar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
