.msg_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    margin: 3px;
    justify-content: center;
}
.msg_box_success {
    border-radius: 5px;
    background-color: #badc58;
    border: 2px solid #6ab04c;
    color: #005e4c;
}

.msg_box_warning {
    border-radius: 5px;
    background-color: #ffeaa7;
    border: 2px solid #fdcb6e;
    color: #61481a;
}

.msg_box_error {
    border-radius: 5px;
    background-color: #ff7675;
    border: 2px solid #d45e5d;
    color: #8a1e1d;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
